@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 210 11% 92%;
    --foreground: 215 39% 26%;
    --card: 0 0% 100%;
    --card-foreground: 215 39% 26%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 39% 26%;
    --primary: 215 39% 26%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 10% 88%;
    --secondary-foreground: 215 39% 26%;
    --muted: 210 10% 88%;
    --muted-foreground: 215 25% 45%;
    --accent: 180 52% 43%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 82%;
    --input: 210 10% 85%;
    --ring: 180 52% 43%;
    --chart-1: 215 39% 26%;
    --chart-2: 180 52% 43%;
    --chart-3: 215 25% 45%;
    --chart-4: 180 30% 60%;
    --chart-5: 215 30% 50%;
    --radius: 0.5rem;
    --sidebar-background: 215 39% 20%;
    --sidebar-foreground: 210 11% 80%;
    --sidebar-primary: 180 52% 43%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 39% 26%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 215 39% 24%;
    --sidebar-ring: 180 52% 43%;
  }
  .dark {
    --background: 220 13% 10%;
    --foreground: 210 11% 92%;
    --card: 220 13% 15%;
    --card-foreground: 210 11% 92%;
    --popover: 220 13% 15%;
    --popover-foreground: 210 11% 92%;
    --primary: 210 11% 92%;
    --primary-foreground: 215 39% 26%;
    --secondary: 220 13% 20%;
    --secondary-foreground: 210 11% 92%;
    --muted: 220 13% 20%;
    --muted-foreground: 210 10% 60%;
    --accent: 180 52% 53%;
    --accent-foreground: 215 39% 26%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 25%;
    --input: 220 13% 25%;
    --ring: 180 52% 53%;
    --chart-1: 210 11% 92%;
    --chart-2: 180 52% 53%;
    --chart-3: 210 10% 60%;
    --chart-4: 180 40% 70%;
    --chart-5: 210 30% 60%;
    --sidebar-background: 220 13% 18%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 180 52% 53%;
    --sidebar-primary-foreground: 215 39% 26%;
    --sidebar-accent: 212 11% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 212 11% 25%;
    --sidebar-ring: 180 52% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
